html {
    font-size: x-large;
}

.purple-bg {
    background-color: #33004D;
    background-image: url('../images/bats-and-moon.jpg');
    background-size: cover;
}

/* Apply Amatic font to h1, h2, and h3 */
h1, h2, h3, a {
    font-family: 'Amatic SC', cursive;
    font-size: xx-large;
}

/* style for the Navbar */
.navbar a {
    color: #217712 /* Set the color to red */
    font-family:, cursive;
    transition: color 0.3s; 
}

/* color to purple on hover */
.navbar a:hover {
    color: rgb#33004D;;
    font-family: 'Your Second Cursive Font', cursive; 
}
.nav-item.active{
    color: #33004D;;
    text-decoration: underline;  
}

  
  /* Apply Neucha font to regular paragraph text */
p {
    font-family: 'Neucha', cursive;
}

/* edit input background color*/
.form-control {
    background-color: #75cb826b;
}

/* edit curse-level buttons*/
.card-body a {
    background-color: #75cb826b;
    color: black;
}
.curse-level a {
    margin-left: 15px;
    margin-right: 15px;
}
